@media screen and (min-width: 320px) {


.counter {
  &__container {
    padding-top: 1rem;
    background-color: #ff8e3c;
  }

  &__header {
    padding-bottom: 1rem;
    background-color: #ff8e3c;
  }

  &__display {
    padding-bottom: 1rem;
    background-color: #ff8e3c;
  }
}




}
