* {
  margin: 0;

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }
}

@media screen and (min-width: 320px) {
  .App {
    &__users {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .App {
    &__users {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: space-around;
    }
  }
}
