* {
  margin: 0;

  h2 {
    font-size: 1.5em;
    height: 4vh;
  }

  h3 {
    font-size: 1em;
    height: 3vh;
  }
}

@media screen and (min-width: 320px) {
  .App {
    &__users {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    &__search {
      text-align: center;
      padding-bottom: 2rem;
      
      &--box {
        padding-top: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .App {
    &__users {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: space-around;
    }
  }
}
